---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Section from "../components/section.astro";
import Info from "../components/info.astro";
import Tecnologys from "../components/tecnologys.astro";
---

<Layout title="Portfolio | Pepe">
  <Header logo="Pepe Portfolio" />
  <Section
    info="Ingeniero en Entornos Virtuales y Negocios Digitales, Desarrollador Web Front-end jr"
  />
  <Info title="About Me " />
  <h1 class="text-center text-yellow-400 text-4xl font-bold">My Skills</h1>

  <Tecnologys tecnologia="Astro" />
</Layout>
