---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<article class="lg:p-20 mt-10 lg:mt-0 p-5 bg-gray-800 rounded-lg shadow-lg">
  <h1 class="text-yellow-400 text-5xl font-extrabold mb-8 text-center">
    {title}
  </h1>

  <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between">
    <div class="flex lg:w-3/4 mb-5 lg:mb-0">
      <hr class="h-1 bg-yellow-400 w-40 rounded-lg border-0" />
      <h3
        class="text-slate-300 text-xl lg:text-2xl p-4 lg:p-0 lg:ml-4 text-justify leading-relaxed"
      >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
        tenetur dicta voluptates libero et sint tempore impedit assumenda!
        Facilis labore dignissimos beatae at distinctio nemo in fugiat natus
        adipisci accusantium. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Blanditiis dolor,<span class="text-yellow-400">
          quos doloribus suscipit, vitae laudantium, pariatur iste saepe
        </span> ipsa natus inventore! Corrupti amet, adipisci repellendus officiis
        illum aliquid repellat voluptates.
      </h3>
    </div>
    <div class="lg:w-1/4 flex justify-center">
      <img
        class="rounded-full w-32 h-32 object-cover border-4 border-yellow-400 shadow-md"
        src="devfs.jpg"
        alt="Desarrollador"
      />
    </div>
  </div>
</article>
