---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<article
  class="lg:p-20 mt-10 lg:mt-0 p-5 bg-gray-800 rounded-lg shadow-lg"
  id="aboutme"
>
  <h1 class="text-yellow-400 text-5xl font-extrabold mb-8 text-center">
    {title}
  </h1>

  <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between">
    <div class="flex lg:w-3/4 mb-5 lg:mb-0">
      <hr class="h-1 bg-yellow-400 w-40 rounded-lg border-0" />
      <h3
        class="text-slate-300 text-xl lg:text-2xl p-4 lg:p-0 lg:ml-4 text-justify leading-relaxed"
      >
        Soy Yahir Gallo colorado, <span class="text-yellow-400"
          >desarollador web</span
        >con experiencia y una actitud proactiva. Me destaco por mis habilidades
        en liderazgo, resolución de problemas y trabajo en equipo. Tengo un
        fuerte compromiso y empatía, lo que me permite adaptarme a los desafíos
        y lograr resultados efectivos. Siempre busco soluciones innovadoras y
        optimizadas en cada proyecto.
      </h3>
    </div>
    <div class="lg:w-1/4 flex justify-center">
      <img
        class="rounded-full w-36 h-36 object-cover border-4 border-yellow-400 shadow-md"
        src="devfs.jpg"
        alt="Desarrollador"
      />
    </div>
  </div>
</article>
